<%- include('header'); -%>
<h2>This is about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eligendi
  corrupti quos numquam veritatis tempore tempora, exercitationem aliquam
  dolorem, velit enim aut optio sed vel! Nobis nostrum sapiente harum corporis
  dolore minima vitae iure vel quos molestias laborum placeat possimus
  exercitationem laudantium incidunt, reprehenderit libero veritatis officia.
  Incidunt, ipsa. Minima provident facere neque dolorem voluptas dolor nostrum
  ducimus commodi aperiam! Similique, sint. Harum, cumque. Cupiditate, ratione
  laudantium. Odit ea quo incidunt. Quia soluta accusamus alias excepturi.
  Accusantium hic dolor totam eos praesentium autem numquam, cum quos
  exercitationem, a facilis tenetur officia dignissimos possimus nesciunt
  inventore velit quae expedita quod vitae?
</p>
<%- include('footer'); -%>
